body{
  background-color:black;
}
.div1{
  width: 90px;
  height: 90px;
  background-color: blac;
  border-radius: 100px;
}
.div8{
  width: 700px;
  height: 150px;
  background-color: blac;
  border-radius: 5%;
}
.ytb{
  width: 700px;
  height: 167px;
  background-color: blac;
  border-radius: 5%;
  margin-top: -43px;
  margin-left: -12x;
}

.imagF{
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 100px;
}
.imagN{
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 100px;
}
.imagC{
  width: 250px;
  height: 90px;
  background-color: black;
  border-radius: 100px; 
}
.maman{
  display: flex;
  justify-content:space-between;
  border: 2px;
  padding: 10px;
width: 15%;}
  
.div2{
  width: 90px;
  height: 15px;
  background-color: gray;
  border-radius: 5px;
}
.maman2{
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-right: -18px;
}
.PAPA{
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}

.rech{
  color: aliceblue;
  margin-left: 50px;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Reche{
  margin-left: 600px;
  width: 2000px;
  height: 100px;
  border: solid 1px rgb(95, 96, 87);
  border-radius: 60px;
}

.div3{
  width: 1000px;
  height: 600px;
  background-color: gray;
  border-radius: 5%;
  margin-bottom: 20px;
}
.image{
  width: 1000px;
  height: 600px;
  background-color: gray;
  border-radius: 3%;
}
.TRI{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.TRI2{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.TRI3{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.cercle{
  margin: top 10px;;
  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 150%;
}
.im{
  margin: top 10px;;
  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 150%;
}
.div5{
    width: 700px;
    height: 20px;
    background-color: black;
    border-radius: 10%;
    margin-top: 10px;
}
.div6{
  width: 500px;
  height: 20px;
  background-color: black;
  border-radius: 10%;
  margin-top: 10px;
}

.info{
  display: flex;
  gap: 10px;

}

.a,.b,.c,.d,.e,.f,.g,.h,.i{
  background-color: rgb(30, 29, 29);
  color: white;
  padding: 15px 40px;
  border: none;
  font-size: 60px;
  margin-top:30px;
  border-radius: 20px;
  margin-left: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.buttonn{
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s;
}

.h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
 
}
.h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  
}
